@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

li {
  margin-bottom:20px;
  line-height: 26px;
}

button {
  margin-right:10px
}

